.Contact {
    color: white !important;
    
}
.Contact-sub {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.Contact-email {
    color: white;
    text-decoration: none;
}
.Contact-linkedin {
    text-decoration: none;
    color: white;
}
a.contactA svg {
    color: white !important;
}
.MuiIcon-root {
    color: white !important;
}
.Contact-email, .Contact-linkedin, .Contact-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
}
.Contact-card {
    background: black !important;
    color: white !important
}