.Portfolio {
    width: 100%;
    margin: 0;
    overflow: scroll;
    color: white;
}
.Portfolio-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    margin-top: 20px;
}
@media all and (max-width: 450px) {
    h1.makeStyles-toolbar-243 {
        font-size: 2rem !important;
    }
}