.MuiButton-root {
    color: white !important;
    background-color: #000744 !important;
    padding: 10px !important;
    width: 100%;
}
.MuiButton-root:hover {
    background-color: #071698 !important;
}
.MuiCardActions-root {
  flex-direction: column;
  justify-content: space-between;
}
.MuiCardContent-root {
    padding: 8px !important;
    min-height: 160px;
}
.chip-container {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.MuiChip-root {
    color: white !important;
    height: 20px !important;
    margin: 5px;
    background: #000744 !important;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 2px !important;    
}
.MuiDivider-light {
    background-color: rgba(255, 255, 255, .4) !important;
    width: 85%;
    margin: 0 auto !important;
    text-align: center;
}
.makeStyles-media-134 {
    height: 200px !important;
}
.MuiButtonBase-root {
    /* padding-top: 0 !important; */
    box-sizing: border-box;
}
.MuiButtonBase-root > span > a {
    width: 100%;
}
.MuiButton-label {
    height: 100% !important;
}
.MuiTypography-h5 {
    font-family: inherit !important;
    font-weight: bold !important;
    box-shadow: inset 0px 0px 5px 0 white;
    padding: 5px;
    border-radius: 5px;
}
.makeStyles-card-133 {
    display: flex !important;
    justify-content: space-around !important;
    flex-direction: column !important;
}
.MuiCardActionArea-root {
    padding-top: 0px !important;
}