.MuiButton-root {
    color: white !important;
    background-color: #000744 !important;
    padding: 10px !important;
    width: 100%;
}
.MuiButton-root:hover {
    background-color: #071698 !important;
}
.MuiCardActions-root {
  flex-direction: column;
  justify-content: space-between;
}
.MuiCardContent-root {
    padding: 8px !important;
}
.chip-container {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.MuiChip-root {
    color: white !important;
    height: 20px !important;
    margin: 5px;
    background: #000744 !important;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 2px !important;    
}
.MuiDivider-light {
    background-color: rgba(255, 255, 255, .4) !important;
    width: 85%;
    margin: 0 auto !important;
    text-align: center;
}